
body{
    background-color: rgb(2, 2, 22);
}

/* start page   Media queries 1200px */

@media only screen and (min-width: 600px)
{.layout{
    display: flex;
    flex-direction:column;
}

/* Start navbar */

.navbar{
    display: flex;
    align-self: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: rgba(24, 23, 43, 0.699);
    border-radius: 20px;
    margin-left: 2%;
    margin-right: 1%;    
}

.navbar button{
    background: none ;
    border: none;
}

.bi-film{
   font-size:xx-large;
   color: rgb(158, 39, 39);
}

.mid-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 50px;
}

.mid-navbar button{
    color: white;
    font-size: x-large;
    padding: 10px;
}

.bi-person{
    font-size: 35px;
    color: white;
}

/* End Navbar */
/* Start search-bar */

.contain{
    display:flex;
    flex-direction: column;
}

.search-bar{
    flex-grow: 1;
    margin-top: 20px;
}

.bi-search{
    font-size: x-large;
    color: white;
    padding: 20px;
}

.search-bar input{
    background: transparent;
    border: none;
    width: 50%;
    font-size: large;
    outline: none;
    color: white;
}

/* End search-bar */
/* Start containe */
/* Start trending */

h1{
    color: white;
    margin: 20px 0 20px 20px;
    font-size: xx-large;
}

.trending{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Start Giza */

.giza{
    display: flex;
}

.giza h3 {
   position: absolute;
   z-index: 1;
   margin-left: 10px;
}

.giza p{
    position: absolute;
    z-index: 2;
    padding:0 0 ;
    color: grey;
    padding-bottom: 30px;
    margin-left: 10px;
}

.giza img{
    position: relative;
    opacity: 0.7;
    height: 100%;
    width: 300px;
    border-radius: 20px;
}

/* End Giza */
/* Start align items (mark,description img  */

.description{
    display: flex;
    align-items: flex-end;
}

.marker {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: end;
    width: 290px; 
}

.bi-bookmark-fill{
    font-size: x-large;
    opacity: 0.5;
    padding: 10px 10px 0 0;
}

/* End tranding */
/* end align items(mark, description img */
/* Start recommanded */

.recommended{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.recommended1{
    display:flex;
    flex-direction: column;
    flex: 2;
}

.recommended2{
    display: flex;
    flex-direction: column;
    flex:3;
}

.container{
    display: flex;
    column-gap: 30px;
    flex-flow: row nowrap;
}

.fav {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: end;
    width: 250px; 
}

.fav .bi-bookmark-fill{
    font-size: x-large;
    opacity: 0.5;
    color: white;
}

/* Start artemis */

.artemis{
    display: flex;
}

.artemis h3 {
   position: absolute;
   z-index: 1;
   margin-left: 10px;
}

.artemis p{
    position: absolute;
    z-index: 2;
    padding:0 0 ;
    color: grey;
    padding-bottom: 30px;
    margin-left: 10px;
    width: 100%;
}

.artemis img{
    position: relative;
    opacity: 0.7;
    height: 100%;
    border-radius: 20px;
    width: 290px;
}

/* End artemis */
/* Start zeus */

.zeus{
    display: flex;
}

.zeus h3 {
   position: absolute;
   z-index: 1;
   margin-left: 10px;
}

.zeus p{
    position: absolute;
    z-index: 2;
    padding:0 0 ;
    color: grey;
    padding-bottom: 30px;
    margin-left: 10px;
    width: 100%;
}

.zeus img{
    position: relative;
    opacity: 0.7;
    height: 100%;
    width: 290px;
    border-radius: 20px;
}

/* end zeus */
/* Start semiramide */

.semiramidei h3{
    font-size:15px;
    color: white;
}

.semiramidei p{
    color: grey;
    font-size:10px ;
    margin: 0;
}

.semiramidei img{
    border-radius: 20px;
    opacity: 0.7;
    width: 250px;
}
}

/* end semiramid */
/* end contain */
/* end layout */

